<div class="container text-center">
  <div class="row">
    <div class="icon">
      <%= link_to(image_tag('facebook.png', class: "img-circle", size: "30x30"), 'https://www.facebook.com/paulo.aquino') %>
    </div>
    <div class="icon">
      <%= link_to(image_tag('linkedin.png', class: "img-circle", size: "30x30"), 'https://jp.linkedin.com/in/pauloeaquino') %>
    </div>
    <div class="icon">
      <%= link_to(image_tag('twitter.png', class: "img-circle", size: "30x30"), 'https://twitter.com/pauloeaquino') %>
    </div>
    <div class="icon">
      <%= link_to(image_tag('tumblr.png', class: "img-circle", size: "30x30"), 'http://everythingbuilds.tumblr.com') %>
    </div>
    <div class="icon">
      <%= link_to(image_tag('instagram.png', class: "img-circle", size: "30x30"), 'https://www.instagram.com/_ennjoi/') %>
    </div>
    <div class="icon">
      <%= link_to(image_tag('vimeo.png', class: "img-circle", size: "30x30"), 'https://vimeo.com/ennjoi') %>
    </div>
    <div class="icon">
      <%= link_to(image_tag('github.png', class: "img-circle", size: "30x30"), 'https://github.com/ennjoi') %>
    </div>
  </div>
</div>
<div class="icon text-center"><%= link_to 'Home', root_path %> | <%= link_to 'About', about_path %></div>